Repository NexusEngine/nexus, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, config, cli, test, build, manifest

.github/labeler.yml:

engine:
  - packages/engine/*
  - packages/engine/**/*

config:
  - packages/config/*
  - packages/config/**/*

cli:
  - packages/nexusctl/*
  - packages/nexusctl/**/*

test:
  - packages/**/__tests__/*.ts

build:
  - tsconfig.json
  - tsconfig.build.json
  - packages/**/tsconfig.json
  - packages/**/tsconfig.build.json

manifest:
  - package.json
  - packages/**/package.json

add middleware context
  packages/mod-connector/src/repl/middleware.ts
  packages/mod-connector/src/repl/server.ts
  packages/mod-connector/src/repl/symbols.ts
Labels: none

enable js and ts in body parser
  packages/mod-connector/src/http/middleware.ts
Labels: none

throw error on invalid protocol
  packages/mod-connector/src/index.ts
Labels: none

add code grade badge
  README.md
Labels: none

faulty provider
  packages/engine/src/services/launcher.ts
  packages/engine/src/storage/provider.ts
  packages/engine/src/storage/providers.ts
Labels: engine

remove incorrect twitter link
  README.md
Labels: none

use default function in mods
  packages/engine/src/config/mods.ts
  packages/engine/src/storage/providers.ts
  packages/mod-data-provider-mongodb/src/storage.ts
Labels: engine

fix import
  packages/mod-connector/src/repl/middleware.ts
Labels: none

update contributing
  CONTRIBUTING.md
Labels: none

add memory data provider
  packages/engine/src/storage/memory/data.ts
  packages/engine/src/storage/provider.ts
Labels: engine

fix provider interface
  packages/mod-data-provider-mongodb/src/provider.ts
Labels: none

fix typo
  packages/mod-data-provider-mongodb/src/storage.ts
Labels: none

many changes
  packages/engine/src/export.ts
  packages/engine/src/game/object.ts
  packages/engine/src/services/launcher.ts
  packages/engine/src/storage/index.ts
  packages/engine/src/storage/memory/data.ts
  packages/engine/src/storage/provider.ts
  packages/mod-connector/src/http/routes.ts
Labels: engine

refactor mods system
  .gitignore
  package-lock.json
  package.json
  packages/engine/LICENSE.md
  packages/engine/README.md
  packages/engine/__tests__/config.ts
  packages/engine/package.json
  packages/engine/src/config/config.ts
  packages/engine/src/config/index.ts
  packages/engine/src/config/mods.ts
  packages/engine/src/engine/engine.ts
  packages/engine/src/engine/memory.ts
  packages/engine/src/engine/store.ts
  packages/engine/src/engine/stream.ts
  packages/engine/src/entry.ts
  packages/engine/src/game/object.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/services/launcher.ts
  packages/engine/src/utility/functional.ts
  packages/engine/src/utility/hook.ts
  packages/engine/src/utility/memoize.ts
  packages/engine/src/utility/types.ts
  packages/engine/src/utility/utility.ts
  packages/engine/tsconfig.build.json
  packages/engine/tsconfig.json
  tsconfig.build.json
Labels: engine, test, build, manifest

complete mods api
  packages/engine/src/engine/engine.ts
  packages/engine/src/engine/memory.ts
  packages/engine/src/engine/stream.ts
  packages/engine/src/entry.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
Labels: engine

reintroduce nexusctl
  package-lock.json
  packages/nexusctl/LICENSE.md
  packages/nexusctl/README.md
  packages/nexusctl/__tests__/config.ts
  packages/nexusctl/bin/entry.js
  packages/nexusctl/package.json
  packages/nexusctl/src/commands/start.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/execute.ts
  packages/nexusctl/tsconfig.build.json
  packages/nexusctl/tsconfig.json
Labels: cli, test, build, manifest

remove file extension on imports
  packages/engine/src/config/index.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
  packages/engine/src/services/launcher.ts
  packages/engine/src/utility/hook.ts
Labels: engine

use `registerGlobal()`
  packages/engine/src/game/object.ts
Labels: engine

add `Game` global
  packages/engine/src/entry.ts
  packages/engine/src/globals/game.ts
Labels: engine

start implementing `Shard` global
  packages/engine/src/globals/shard.ts
  packages/engine/src/shard/symbols.ts
Labels: engine

import `Shard` on startup
  packages/engine/src/entry.ts
Labels: engine

reshuffle hooks
  packages/engine/src/engine/symbols.ts
  packages/engine/src/game/object.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/game.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/shard.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
  packages/engine/src/utility/global.ts
Labels: engine

move init over to engine hooks
  packages/engine/src/engine/symbols.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
Labels: engine

reintroduce mod-connector
  package-lock.json
  packages/mod-connector/LICENSE.md
  packages/mod-connector/README.md
  packages/mod-connector/package.json
  packages/mod-connector/src/manifest.ts
  packages/mod-connector/tsconfig.build.json
  packages/mod-connector/tsconfig.json
Labels: build, manifest

fix import
  packages/engine/src/entry.ts
Labels: engine

hopefully finalize mod globals
  package-lock.json
  packages/engine/package.json
  packages/engine/src/export.ts
  packages/mod-connector/package.json
  packages/mod-connector/src/manifest.ts
Labels: engine, manifest

export all globals
  packages/engine/src/export.ts
  packages/engine/src/globals/index.ts
Labels: engine

re-add connector mod
  packages/mod-connector/src/engine.ts
  packages/mod-connector/src/http/server.ts
  packages/mod-connector/src/repl/server.ts
  packages/mod-connector/src/repl/symbols.ts
  packages/mod-connector/src/utility/compose.ts
Labels: none

hopefully finalize global types
  packages/engine/mods.d.ts
  packages/engine/package.json
  packages/engine/src/config/mods.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/game.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/shard.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
  packages/engine/tsconfig.build.json
Labels: engine, build, manifest

definitely fix types this time
  packages/engine/mods.d.ts
  packages/engine/src/game/object.ts
  packages/engine/src/globals/game.ts
Labels: engine

finish globals
  packages/engine/mods.d.ts
  packages/engine/package.json
  packages/engine/src/globals/engine.ts
  packages/mod-connector/src/manifest.ts
  packages/mod-connector/tsconfig.build.json
  packages/mod-connector/tsconfig.json
Labels: engine, build, manifest

Hopefully finalize global types (#2)
  packages/engine/mods.d.ts
  packages/engine/package.json
  packages/engine/src/config/mods.ts
  packages/engine/src/game/object.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/game.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/shard.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
  packages/engine/tsconfig.build.json
  packages/mod-connector/src/manifest.ts
  packages/mod-connector/tsconfig.build.json
  packages/mod-connector/tsconfig.json
Labels: engine, build, manifest

clean up types
  packages/engine/mods.d.ts
  packages/engine/src/engine/symbols.ts
  packages/engine/src/entry.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/engine.ts
  packages/engine/src/globals/game.ts
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/shard.ts
  packages/engine/src/globals/store.ts
  packages/engine/src/globals/stream.ts
  packages/engine/src/shard/symbols.ts
Labels: engine

make config global
  packages/engine/mods.d.ts
  packages/engine/src/config/config.ts
  packages/engine/src/globals/engine.ts
  packages/mod-connector/src/engine.ts
Labels: engine

reintroduce `nexusctl init`
  packages/nexusctl/src/commands/init.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/helpers.ts
  packages/nexusctl/src/lib/process.ts
Labels: cli

reintroduce `nexusctl connect`
  packages/nexusctl/src/commands/connect.ts
  packages/nexusctl/src/entry.ts
Labels: cli

add doc comments
  packages/engine/mods.d.ts
Labels: engine

add `engine` to mod provides
  packages/engine/mods.d.ts
Labels: engine

reorganize connector
  packages/mod-connector/src/engine.ts
  packages/mod-connector/src/manifest.ts
Labels: none

add doc comments
  packages/engine/mods.d.ts
Labels: engine
