Repository NexusEngine/nexus, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, docs, cli, test, build, manifest

.github/labeler.yml:

engine:
  - packages/engine/*
  - packages/engine/**/*

docs:
  - '*.md'
  - docs
  - packages/**/docs/*
  - packages/**/docs/**/*

cli:
  - packages/nexusctl/*
  - packages/nexusctl/**/*

test:
  - packages/**/__tests__/*.ts

build:
  - tsconfig.json
  - tsconfig.build.json
  - packages/**/tsconfig.json
  - packages/**/tsconfig.build.json

manifest:
  - package.json
  - packages/**/package.json

fix processor symbol
  packages/engine/src/globals/game.ts
  packages/engine/src/globals/index.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/object.d.ts
Labels: engine

use shard name as key prefix
  packages/engine/types/mod/globals.d.ts
  packages/mod-memory-redis/src/engine.ts
  packages/mod-stream-redis/src/engine.ts
Labels: engine

show correct version
  packages/nexusctl/src/entry.ts
Labels: cli

add fs logger
  packages/engine/src/engine/logger.ts
  packages/engine/src/globals/engine.ts
  packages/engine/types/mod/globals.d.ts
  packages/engine/types/mod/index.d.ts
Labels: engine

abstract logger
  packages/engine/src/engine/logger.ts
  packages/engine/src/globals/engine.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/logger.d.ts
Labels: engine

add `mod-logger-redis`
  package-lock.json
  packages/mod-logger-redis/README.md
  packages/mod-logger-redis/package.json
  packages/mod-logger-redis/src/engine.ts
  packages/mod-logger-redis/src/index.ts
  packages/mod-logger-redis/src/lib/logger.ts
  packages/mod-logger-redis/tsconfig.build.json
  packages/mod-logger-redis/tsconfig.json
Labels: build, manifest

convert to json log format
  packages/engine/src/engine/logger.ts
  packages/engine/types/mod/logger.d.ts
  packages/mod-logger-redis/src/lib/logger.ts
Labels: engine

remove unnecessary variable
  packages/engine/src/engine/logger.ts
Labels: engine

remove game object completely
  packages/engine/src/entry.ts
  packages/engine/src/game/object.ts
  packages/engine/src/globals/game.ts
  packages/engine/types/mod/functions.d.ts
  packages/engine/types/mod/globals.d.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/object.d.ts
Labels: engine

remove logger
  packages/engine/src/engine/logger.ts
  packages/engine/src/globals/engine.ts
  packages/engine/types/mod/globals.d.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/logger.d.ts
Labels: engine

reorganize types
  packages/engine/src/export.ts
  packages/engine/src/game/symbols.ts
  packages/engine/types/events.d.ts
  packages/engine/types/functions.d.ts
  packages/engine/types/globals.d.ts
  packages/engine/types/globals/engine.d.ts
  packages/engine/types/globals/game.d.ts
  packages/engine/types/globals/memory.d.ts
  packages/engine/types/globals/shard.d.ts
  packages/engine/types/globals/store.d.ts
  packages/engine/types/globals/stream.d.ts
  packages/engine/types/index.d.ts
  packages/engine/types/manifest.d.ts
  packages/engine/types/mod/globals.d.ts
Labels: engine

remove unusued globals
  packages/engine/src/globals/index.ts
Labels: engine

remove redis logger for now
  packages/mod-logger-redis/README.md
  packages/mod-logger-redis/package.json
  packages/mod-logger-redis/src/engine.ts
  packages/mod-logger-redis/src/index.ts
  packages/mod-logger-redis/src/lib/logger.ts
  packages/mod-logger-redis/tsconfig.build.json
  packages/mod-logger-redis/tsconfig.json
Labels: build, manifest

start work on intents
  packages/engine/src/entry.ts
  packages/engine/src/game/intent.ts
  packages/engine/tsconfig.build.json
  packages/engine/tsconfig.json
  packages/engine/types/globals/game.d.ts
Labels: engine, build

add ajv
  package-lock.json
  packages/engine/package.json
Labels: engine, manifest

re-introduce `GameObject`
  packages/engine/src/entry.ts
  packages/engine/src/game/globals.ts
  packages/engine/src/game/object.ts
  packages/engine/src/globals/game.ts
  packages/engine/types/globals/game.d.ts
Labels: engine

naive intent processor implementation
  packages/engine/src/entry.ts
  packages/engine/src/game/intent.ts
  packages/engine/src/game/object.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/game.ts
  packages/engine/types/globals/game.d.ts
Labels: engine

don't make `intentProcessor` global
  packages/engine/src/game/intent.ts
Labels: engine

add static db config properties
  packages/engine/src/game/object.ts
  packages/engine/types/globals/game.d.ts
Labels: engine

make shape observing optional
  packages/engine/src/game/object.ts
  packages/engine/types/globals/game.d.ts
Labels: engine
