Repository NexusEngine/nexus, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, docs, cli, test, build, manifest

.github/labeler.yml:

engine:
  - packages/engine/*
  - packages/engine/**/*

docs:
  - '*.md'
  - docs
  - packages/**/docs/*
  - packages/**/docs/**/*

cli:
  - packages/nexusctl/*
  - packages/nexusctl/**/*

test:
  - packages/**/__tests__/*.ts

build:
  - tsconfig.json
  - tsconfig.build.json
  - packages/**/tsconfig.json
  - packages/**/tsconfig.build.json

manifest:
  - package.json
  - packages/**/package.json

update faq
  FAQ.md
Labels: docs

remove repl middleware for now
  packages/mod-connector/src/repl/server.ts
  packages/mod-connector/src/repl/symbols.ts
  packages/mod-connector/src/utility/compose.ts
Labels: none

start http connector middleware
  packages/mod-connector/src/http/middleware.ts
  packages/mod-connector/src/http/routes.ts
  packages/mod-connector/src/http/server.ts
Labels: none

correctly implement mod subcommand
  packages/nexusctl/src/commands/mod/index.ts
  packages/nexusctl/src/entry.ts
Labels: cli

update mod tsconfig template
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli

implement mod init options
  packages/nexusctl/src/commands/mod/init.ts
  packages/nexusctl/src/entry.ts
Labels: cli

add project init options
  packages/nexusctl/src/commands/init.ts
  packages/nexusctl/src/entry.ts
Labels: cli

make enabling installed mod optional
  packages/nexusctl/src/commands/mod/install.ts
  packages/nexusctl/src/entry.ts
Labels: cli

simplify package check
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

remove connector token option for now
  packages/nexusctl/src/commands/connect.ts
Labels: cli

remove options
  packages/nexusctl/src/entry.ts
Labels: cli

add `IntentError` global
  packages/engine/src/globals/index.ts
  packages/engine/types/mod/mod.d.ts
Labels: engine

increase default id length to 21
  packages/engine/src/globals/index.ts
  packages/engine/types/mod/mod.d.ts
Labels: engine

use exit code for failure detection
  packages/nexusctl/src/commands/init.ts
  packages/nexusctl/src/lib/process.ts
Labels: cli

fix signature
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

abort on non-zero exit code
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

remove legacy token option
  packages/nexusctl/src/entry.ts
Labels: cli

add installed check and force option
  packages/nexusctl/src/commands/mod/install.ts
  packages/nexusctl/src/entry.ts
Labels: cli

also check peer deps
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

add exit code check
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli

remove unnecessary check
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

split mod api types
  packages/engine/package.json
  packages/engine/types/mod/events.d.ts
  packages/engine/types/mod/functions.d.ts
  packages/engine/types/mod/globals.d.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/manifest.d.ts
  packages/engine/types/mod/object.d.ts
Labels: engine, manifest

fix circular import
  packages/mod-connector/src/engine.ts
  packages/mod-connector/src/http/server.ts
Labels: none

getting tests to work
  package.json
  packages/engine/__tests__/config.ts
  packages/nexusctl/__tests__/config.ts
Labels: engine, cli, test, manifest

prepare exporting methods
  packages/engine/package.json
  packages/engine/src/export.ts
  packages/engine/tsconfig.json
Labels: engine, build, manifest

finally almost fix tests
  packages/engine/__tests__/config.ts
  packages/nexusctl/__tests__/config.ts
Labels: engine, cli, test

simplify types
  packages/engine/types/mod/events.d.ts
  packages/engine/types/mod/functions.d.ts
  packages/engine/types/mod/globals.d.ts
  packages/engine/types/mod/index.d.ts
  packages/engine/types/mod/manifest.d.ts
  packages/engine/types/mod/object.d.ts
Labels: engine

add jsdoc comments
  packages/engine/types/mod/object.d.ts
Labels: engine

fix lrgm warning?
  packages/mod-stream-redis/src/util/index.ts
Labels: none

fix lgtm warning
  packages/mod-stream-redis/src/util/index.ts
Labels: none

fix it nicer this time
  packages/mod-stream-redis/src/util/index.ts
Labels: none

account for local config file
  packages/engine/__tests__/config.ts
Labels: engine, test

repl: enable strict mode
  packages/mod-connector/src/repl/server.ts
Labels: none

Add `Memory.expire()` and `Memory.expireat()`
  packages/engine/types/mod/globals.d.ts
  packages/mod-memory-redis/src/engine.ts
Labels: engine

fix `Memory.sismember()`
  packages/engine/types/mod/globals.d.ts
  packages/mod-memory-redis/src/engine.ts
Labels: engine

fix `Memory.srandmember()`
  packages/engine/types/mod/globals.d.ts
  packages/mod-memory-redis/src/engine.ts
Labels: engine

fix `Memory.spop()`
  packages/engine/types/mod/globals.d.ts
  packages/mod-memory-redis/src/engine.ts
Labels: engine

nicer error messages
  packages/engine/src/config/mods.ts
  packages/engine/src/entry.ts
Labels: engine

enable terminal
  packages/mod-connector/src/repl/server.ts
Labels: none

just use nanoid directly
  packages/engine/src/globals/index.ts
  packages/engine/types/mod/functions.d.ts
  packages/engine/types/mod/index.d.ts
Labels: engine
