Repository NexusEngine/nexus, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, config, cli, test, build, manifest

implement global `GameObject` interface
  packages/engine/src/game/object.ts
Labels: engine

add mod init
  packages/nexusctl/src/commands/mod/index.ts
  packages/nexusctl/src/commands/mod/init.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/process.ts
Labels: cli

add colors
  package-lock.json
  packages/nexusctl/package.json
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli, manifest

add `chainIntentChecks`
  packages/engine/mods.d.ts
  packages/engine/src/globals/game.ts
Labels: engine

delete unused export file
  packages/engine/src/export.ts
Labels: engine

start implementing intent proceessors
  packages/engine/mods.d.ts
  packages/engine/src/game/symbols.ts
  packages/engine/src/globals/game.ts
Labels: engine

import engine and shard providers
  packages/engine/src/entry.ts
Labels: engine

write basic .gitignore
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli

start work on `mod-store-mongodb`
  package-lock.json
  packages/mod-store-mongodb/LICENSE.md
  packages/mod-store-mongodb/README.md
  packages/mod-store-mongodb/package.json
  packages/mod-store-mongodb/src/index.ts
  packages/mod-store-mongodb/src/patch.ts
  packages/mod-store-mongodb/tsconfig.build.json
  packages/mod-store-mongodb/tsconfig.json
Labels: build, manifest

add `mod-memory-redis`
  package-lock.json
  packages/mod-memory-redis/LICENSE.md
  packages/mod-memory-redis/README.md
  packages/mod-memory-redis/package.json
  packages/mod-memory-redis/src/index.ts
  packages/mod-memory-redis/tsconfig.build.json
  packages/mod-memory-redis/tsconfig.json
Labels: build, manifest

reintroduce base provider
  packages/engine/mods.d.ts
  packages/engine/src/entry.ts
  packages/mod-memory-redis/src/index.ts
  packages/mod-store-mongodb/src/index.ts
Labels: engine

implement `mod-stream-redis`
  packages/mod-stream-redis/LICENSE.md
  packages/mod-stream-redis/README.md
  packages/mod-stream-redis/package.json
  packages/mod-stream-redis/src/index.ts
  packages/mod-stream-redis/src/util/index.ts
  packages/mod-stream-redis/src/util/reader.ts
  packages/mod-stream-redis/tsconfig.build.json
  packages/mod-stream-redis/tsconfig.json
Labels: build, manifest

add manifests
  packages/mod-memory-redis/src/engine.ts
  packages/mod-memory-redis/src/index.ts
  packages/mod-store-mongodb/src/engine.ts
  packages/mod-store-mongodb/src/index.ts
  packages/mod-stream-redis/src/engine.ts
  packages/mod-stream-redis/src/index.ts
Labels: none

fix config paths
  packages/engine/src/globals/memory.ts
  packages/engine/src/globals/stream.ts
Labels: engine

finish importing storage providers
  package-lock.json
  packages/engine/src/entry.ts
Labels: engine

add `preService` hook
  packages/engine/mods.d.ts
  packages/engine/src/entry.ts
Labels: engine

add `generateId()` global
  package-lock.json
  packages/engine/mods.d.ts
  packages/engine/package.json
  packages/engine/src/globals/index.ts
Labels: engine, manifest

make `size` available
  packages/engine/mods.d.ts
  packages/engine/src/globals/index.ts
Labels: engine

implement `Game.executeIntent()`
  packages/engine/mods.d.ts
  packages/engine/src/globals/game.ts
Labels: engine

fix init
  packages/nexusctl/src/commands/init.ts
Labels: cli

add confirm prompt
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli

fix picocolors import
  packages/nexusctl/src/commands/mod/init.ts
Labels: cli

start implementing `nexusctl mod install`
  packages/nexusctl/src/commands/mod/index.ts
  packages/nexusctl/src/commands/mod/install.ts
  packages/nexusctl/src/lib/process.ts
Labels: cli

update mod readmes
  packages/mod-connector/README.md
  packages/mod-memory-redis/README.md
  packages/mod-store-mongodb/README.md
  packages/mod-stream-redis/README.md
Labels: none

prepare splitting types
  packages/engine/package.json
  packages/engine/tsconfig.build.json
  packages/engine/types/mod/mod.d.ts
Labels: engine, build, manifest

auto-enable mod
  packages/nexusctl/src/commands/mod/install.ts
Labels: cli

remove `nanoid` in favor of `generateId()`
  packages/mod-store-mongodb/package.json
  packages/mod-store-mongodb/src/engine.ts
Labels: manifest

return id on insert
  packages/mod-store-mongodb/src/engine.ts
Labels: none

add descriptions
  packages/engine/package.json
  packages/mod-connector/package.json
Labels: engine, manifest

.github/labeler.yml:

engine:
  - packages/engine/*
  - packages/engine/**/*

config:
  - packages/config/*
  - packages/config/**/*

cli:
  - packages/nexusctl/*
  - packages/nexusctl/**/*

test:
  - packages/**/__tests__/*.ts

build:
  - tsconfig.json
  - tsconfig.build.json
  - packages/**/tsconfig.json
  - packages/**/tsconfig.build.json

manifest:
  - package.json
  - packages/**/package.json
