Repository NexusEngine/nexus, changes with the labels that .github/labeler.yml gives for each.
All labels: engine, config, cli, test, build, manifest

start work on entry
  packages/engine/src/entry.ts
  packages/engine/src/services/launcher.ts
Labels: engine

stub tests
  packages/config/__tests__/test1.ts
  packages/engine/__tests__/test1.ts
  packages/nexusctl/__tests__/test1.ts
Labels: engine, config, cli, test

fix path
  packages/nexusctl/src/commands/init.ts
Labels: cli

add writing .engine.yaml
  package-lock.json
  packages/nexusctl/package.json
  packages/nexusctl/src/commands/init.ts
Labels: cli, manifest

begin building quasi-repl
  package-lock.json
  packages/nexusctl/package.json
  packages/nexusctl/src/commands/connect.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/helpers.ts
  packages/nexusctl/src/lib/connector.ts
Labels: cli, manifest

rearrange files
  packages/nexusctl/src/commands/init.ts
  packages/nexusctl/src/commands/start.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/exec.ts
  packages/nexusctl/src/lib/spawn.ts
Labels: cli

add rudimentary config
  package-lock.json
  packages/engine/package.json
  packages/engine/src/config/index.ts
  packages/engine/src/config/schema.ts
Labels: engine, manifest

rename files
  packages/nexusctl/src/commands/init.ts
  packages/nexusctl/src/commands/start.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/execute.ts
  packages/nexusctl/src/lib/process.ts
Labels: cli

basic authentication
  packages/nexusctl/src/commands/connect.ts
  packages/nexusctl/src/entry.ts
  packages/nexusctl/src/lib/connector.ts
Labels: cli

add default config
  packages/engine/src/config/index.ts
  packages/engine/src/utility/types.ts
  packages/engine/src/utility/utility.ts
Labels: engine

fix typo
  packages/nexusctl/src/commands/connect.ts
Labels: cli

remove config as separate package
  packages/config/LICENSE.md
  packages/config/__tests__/test1.ts
  packages/config/jest.config.js
  packages/config/package.json
  packages/config/src/config.ts
  packages/config/src/index.ts
  packages/config/tsconfig.build.json
  packages/config/tsconfig.json
Labels: config, test, build, manifest

lots of changes
  package-lock.json
  package.json
  packages/engine/src/services/launcher.ts
  packages/engine/src/services/processor.ts
  packages/engine/src/services/public.ts
  packages/mod-connector/LICENSE.md
  packages/mod-connector/README.md
  packages/mod-connector/__tests__/test1.ts
  packages/mod-connector/jest.config.js
  packages/mod-connector/package.json
  packages/mod-connector/src/index.ts
  packages/mod-connector/tsconfig.build.json
  packages/mod-connector/tsconfig.json
Labels: engine, test, build, manifest

start remote repl
  packages/mod-connector/src/index.ts
  packages/nexusctl/src/commands/connect.ts
  packages/nexusctl/src/entry.ts
Labels: cli

prepare config schema
  packages/engine/src/config/config.ts
  packages/engine/src/config/index.ts
  tsconfig.build.json
Labels: engine, build

start storage provider management
  packages/engine/src/storage/provider.ts
Labels: engine

start support for game objects
  package-lock.json
  packages/engine/package.json
  packages/engine/src/objects/GameObject.ts
Labels: engine, manifest

connector middleware
  package-lock.json
  packages/mod-connector/src/index.ts
  packages/mod-connector/src/utility/compose.ts
  packages/nexusctl/src/commands/connect.ts
Labels: cli

improve middleware
  packages/mod-connector/src/index.ts
Labels: none

improve auth flow
  packages/mod-connector/src/index.ts
  packages/mod-connector/src/server.ts
  packages/mod-connector/src/token.ts
  packages/nexusctl/src/commands/connect.ts
Labels: cli

improve config support
  packages/engine/src/config/index.ts
  packages/mod-connector/src/token.ts
Labels: engine

start exporting mods api
  packages/engine/src/export.ts
Labels: engine

start data provider implementation
  package-lock.json
  packages/engine/src/export.ts
  packages/engine/src/storage/provider.ts
  packages/engine/src/utility/types.ts
  packages/mod-data-provider-mongodb/LICENSE.md
  packages/mod-data-provider-mongodb/README.md
  packages/mod-data-provider-mongodb/__tests__/test1.ts
  packages/mod-data-provider-mongodb/jest.config.js
  packages/mod-data-provider-mongodb/lib/transform.ts
  packages/mod-data-provider-mongodb/package.json
  packages/mod-data-provider-mongodb/src/index.ts
  packages/mod-data-provider-mongodb/src/provider.ts
  packages/mod-data-provider-mongodb/tsconfig.build.json
  packages/mod-data-provider-mongodb/tsconfig.json
Labels: engine, test, build, manifest

remove protocol argument
  packages/engine/src/storage/provider.ts
Labels: engine

start mods support
  package-lock.json
  packages/engine/src/config/mods.ts
  packages/engine/src/export.ts
  packages/engine/src/objects/object.ts
  packages/engine/src/services/launcher.ts
  packages/engine/src/storage/provider.ts
  packages/mod-data-provider-mongodb/package.json
  packages/mod-data-provider-mongodb/src/index.ts
  packages/mod-data-provider-mongodb/src/lib/transform.ts
  packages/mod-data-provider-mongodb/src/provider.ts
  packages/mod-data-provider-mongodb/src/storage.ts
Labels: engine, manifest

mod import error handling
  packages/engine/src/config/mods.ts
Labels: engine

fix module import
  packages/engine/src/objects/object.ts
Labels: engine

update readmes
  packages/engine/README.md
  packages/mod-connector/README.md
  packages/mod-data-provider-mongodb/README.md
Labels: engine

update readme
  README.md
Labels: none

fix ci badge
  README.md
Labels: none

connector http server
  package-lock.json
  packages/engine/src/config/mods.ts
  packages/mod-connector/package.json
  packages/mod-connector/src/http/server.ts
  packages/mod-connector/src/index.ts
  packages/mod-connector/src/repl/middleware.ts
  packages/mod-connector/src/repl/server.ts
Labels: engine, manifest

simplify middleware
  packages/mod-connector/src/http/middleware.ts
  packages/mod-connector/src/http/server.ts
  packages/mod-connector/src/index.ts
Labels: none

make tests global
  .github/workflows/node.js.yml
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  packages/mod-connector/jest.config.js
  packages/mod-data-provider-mongodb/jest.config.js
  packages/mod-data-provider-mongodb/package.json
  packages/nexusctl/jest.config.js
  packages/nexusctl/package.json
Labels: cli, manifest

fix coverage path
  .github/workflows/node.js.yml
Labels: none

add coverage badge
  README.md
Labels: none

remove eslint for now
  .eslintrc.yml
  package-lock.json
Labels: none

enable config paths
  packages/mod-connector/README.md
  packages/mod-connector/src/index.ts
Labels: none

configure jest for ts
  jest.config.js
  package.json
Labels: manifest

add codeql
  .github/workflows/codeql-analysis.yml
Labels: none

rename repl server
  packages/mod-connector/src/repl/server.ts
Labels: none

.github/labeler.yml:

engine:
  - packages/engine/*
  - packages/engine/**/*

config:
  - packages/config/*
  - packages/config/**/*

cli:
  - packages/nexusctl/*
  - packages/nexusctl/**/*

test:
  - packages/**/__tests__/*.ts

build:
  - tsconfig.json
  - tsconfig.build.json
  - packages/**/tsconfig.json
  - packages/**/tsconfig.build.json

manifest:
  - package.json
  - packages/**/package.json
